.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 100px;
  width: 400px;
  height: 400px;
  font-size: 64px;
  line-height: 400px;
  font-weight: bold;
  text-align: center;
}

.greeting {
  font-size: 64px;
  font-weight: bold;
}

.theme {
  margin-top: 40px;
  font-size: 48px;
}

.count {
  margin-top: 40px;
}
